@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap');

.main-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
}

.back-pic1 {
  position: fixed;
  width: 90%;
  height: 40vw;
  bottom: 1vw;
  right: 35vw;
  z-index: -1;
}

.back-pic2 {
  position: fixed;
  width: 90%;
  height: 40vw;
  bottom: 1vw;
  left: 35vw;
  z-index: -1;
}

.main-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputer {
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.add {
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 29px;
  font-size: 16px;
  color: black;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

#add-purchase {
  border: 1px solid black;
  border-radius: 5px;
  height: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 4px;
}

#add-sum {
  border: 1px solid black;
  border-radius: 5px;
  height: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 4px;
}

.add:hover {
  cursor: pointer;
  background-color: black;
  color:rgb(255, 255, 255);
}

.add:active {
  box-shadow: 1px 1px 2px 4px black;
}